<button class="btn btn-success btn-lg mb-4" (click)="showForm = !showForm">Add User</button>
<div *ngIf="showForm" class="card card-body mb-4">
    <h4>Add User</h4>
    <form (submit)="onSubmit($event)">
        <div class="form-group">
            <label>First Name</label>
            <input [(ngModel)]="user.firstName" type="text" name="firstName" class="form-control">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input [(ngModel)]="user.lastName" type="text" name="lastName" class="form-control">
        </div>
        <div class="form-group">
            <label>Age</label>
            <input [(ngModel)]="user.age" type="number" name="age" class="form-control">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input [(ngModel)]="user.address.street" type="text" name="street" class="form-control">
        </div>
        <div class="form-group">
            <label>City</label>
            <input [(ngModel)]="user.address.city" type="text" name="city" class="form-control">
        </div>
        <div class="form-group">
            <label>Country</label>
            <input [(ngModel)]="user.address.country" type="text" name="country" class="form-control">
        </div>
        <button (click)="addUser()" [disabled]="user.firstName =='' || user.lastName =='' " class="btn btn-block mb-3">
            Add New User
        </button>
    </form>
</div>
<h2>Users</h2>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li [style.border-color]="user.isActive?'teal':''" [class.bg-light]="user.isActive" *ngFor="let user of users"
        class="card card-body mb-4">
        <h4>{{user.firstName}} {{user.lastName}}
            <small *ngIf="user.age && user.address">
                <button (click)="user.hide = !user.hide" class="btn btn-dark">
                    <i [ngClass]="user.hide?'fa fa-plus':'fa fa-minus'"></i>
                </button>
            </small>
        </h4>
        <ul class="list-group" *ngIf="!user.hide && showExtended && user.age && user.address">
            <li class="list-group-item">Age : {{user.age}}</li>
            <li class="list-group-item">Address :
                {{user.address.street}},{{user.address.city}},{{user.address.country}}.
            </li>
            <li class="list-group-item">
                Register : {{user.register | date:"longDate"}}
            </li>
        </ul>
    </li>
</ul>
<h3 *ngIf="users?.length == 0">No User Found !</h3>
<h3 *ngIf="!loaded">Users Loading ...</h3>